
<div class="hero">
<h1>The Dream Repertoire</h1>
</div>
<br>

<div class="container">
  <div class="dreams-list">
    <% @dreams.each do |dream| %>

        <div class="dream" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path dream.photo, crop: :fill %>')">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->

            <h5><%= link_to(dream.name, dream_path(dream)) %></h5>
            <p><%= dream.description %></p>

          <!-- <div class="card-footer">
          </div> -->
        </div>

    <% end %>
</div>
</div>
