// CSS for dreams/show function
.dreams-show-background {
  background-color: black;
  color: white;
}

.details-section {
  padding-right: 5%;
}

.dream-detail {
  padding-top: 2vh;
}

.dream-show-button-bottom {
  padding-right: 10px;
}

.card-review {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-bottom: 2vh;
  color: black;
}

.card-review img {
  height: 100%;
  width: 120px;
  object-fit: contain;
}

.card-review h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-review p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  align-items: center;
}

.card-review .card-review-infos {
  padding: 16px;
}

.review-card-content {
  display: block;
  align-items: center;
  padding-left: 10px;
}

.review-card-edit {
  align-items: center;
}

.dream-description {
  padding-top: 20px;
}
