// CSS for 'Dreams Repertoire' page
body {
  background-image: url("https://www.larutadelsorigens.cat/wallpic/full/32-323083_wallpaper-cat-roof-city-neon-lights-metropolis-cyberpunk.jpg")
}
.dreams-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  margin: 50px;
}

.dream {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-size: cover;
  box-shadow: 10px 9px 18px -10px rgba(0,0,0,1);
  h2 {
  text-align: center;
  font-family: 'Beth Ellen', cursive;
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px white;
  }
  p {
  text-align: center;
  font-family: 'Beth Ellen', cursive;
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px white;
  }
}


.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/thaicharoens/image/upload/v1565117483/ke5hb9vxayo6vpbzskxj.jpg");
  width: 100vw;
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

 h2 {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
}
