.user-container {
  display: flex;
  background-color: $black;
  font-family: ‘Roboto’, sans-serif;
  padding: 20px;
  h2 {
    color: $green;
    font-weight: bold;
    font-family: ‘Kanit’, sans-serif;
    font-style: italic;
  }
}

.reviews {
  display: flex;
  //
}

.ratings {
  display: flex;
  justify-content: space-around;
}

#ideogram {
  height: 100vh;
  position: sticky;
  top: 0;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: $gray;
  border: 1px solid white;
  display: flex;
  align-items: center;
  margin: 20px 0;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  p {
    color: white;
  }
  h3 {
    font-size: 20px;
    color: $green;
    font-weight: bold;
    font-family: ‘Kanit’, sans-serif;
    font-style: italic;
  }
  h4 {
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  h5 {
    color: $green;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px
  }
}

#reviews {
  overflow: hidden;
  height: 120px;
  background: $gray;
  border: 1px solid white;
  display: flex;
  align-items: center;
  margin: 20px;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h3 {
    color: $green;
  }
  h4 {
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  h5 {
    color: $green;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
  margin: 5px
}

.card-product .card-product-infos {
  padding: 16px;
}
