<div class="container forms-font-colour">
  <%= simple_form_for [@dream, @sleep] do |f| %>
    <%= f.input :date %>
    <%= f.submit "Add a sleep booking", class: "btn btn-ghost" %>
  <% end %>
</div>
