.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  transition:.5s;
  a:hover {
  color:$green;
}
}

.dropdown {
  img:hover {
    opacity: 0.75;
    cursor: pointer;

  }

}

.dropdown-menu {
  background-color: black;
  color: white;
}

.dropdown-item {
  color: white;
  &:hover {
    background-color: black;
    color: $green;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.link-colour {
  color: white;
  font-style: normal;
}

.logo-font {
  font-family: 'Kanit', sans-serif;
  color: $green;
  &:hover {
  animation: neon4 1.5s ease-in-out infinite alternate;
  }
}


.logo-font a {
  color: #B6FF00;
  font-family: "Kanit", sans-serif;
  font-size: 0.8em;
}

.logo-font a:hover {
  animation: neon4 1.5s ease-in-out infinite alternate;
}


@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
