.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  transition:.5s;
  a:hover {
  color:$green;
}
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.link-colour {
  color: white;
  font-style: normal;
}

.logo-font {
  font-family: 'Kanit', sans-serif;
  color: $green;
}
// .nav-link {
//     a {color: #E900FF !important;
//     text-decoration: none;
//     &:hover {
//     color: #E900FF;
//     }
//   }
//  }
