.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: #E900FF;
  font-family: 'Lexend Tera', sans-serif;
  transition:.5s;
  a:hover {
  color:red;
}
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.link-colour {
  color: #E900FF;
}

// .nav-link {
//     a {color: #E900FF !important;
//     text-decoration: none;
//     &:hover {
//     color: #E900FF;
//     }
//   }
//  }
