<div class="container">
  <h2>Edit review</h2>
  <%= render 'form', review: @review, dream: @dream %>
  <%= link_to "Delete", review_path(@review),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

</div>
